#graph {
    min-height: 600px;
    min-width: 1200px;
}
.text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-purple { background-color: #6f42c1; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
.mr-3, .mx-3 { margin-right: 1rem !important; }
#filteredCompany {
    padding-left: 24px;
    color: #376cb6;
    font-weight: bold;
}
.footer {
    /* background-color: #6c757d; */
    padding-left: 1.7em !important;
    padding-right: 1.7em !important;
    /* padding-top: 0px !important;
    margin-top: 0px !important; */
}
.footer .row {
    background-color: #6f42c1;
}
.footer a {
    color: rgba(255, 255, 255, .5);
}
.footer a:hover {
    color: #ffffff;
}